[Unit]
Description=Stardew Valley Save Backup (User)

[Service]
ExecStart=%h/bin/stardew-valley-save-backup.sh
Restart=always

[Install]
WantedBy=default.target
